.card{
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #eee;
}

.card-title{
    font-size: 1.6rem;
    margin: 0.5rem;
}

.card-image{
    padding: 0.5rem;

    width: 200px;
    height: 200px;
}

.card-text{
    margin: 0.5rem;
    text-align: left;

    font-size: 1rem;
}

.subscribe-button {
    display: inline-block;
    padding: 0;
    margin: 0;

    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
}

@media (min-width: 44rem) {
    .card{
        align-items: center;
    }
}
