/* below CSS adapted from https://css.gg under the MIT License */
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/calendar-two.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/pin.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/organisation.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/mail.css');

.event-detail-container {
  padding: 1rem 3rem;

  background-color: #fff;
  border-radius: 4px;
}

.event-detail-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;

  background-color: #f8f8f8;
}

.event-detail-info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.event-detail-info-item-icon{
  width: 15px;
  height: 15px;
}

.gg-organisation{
  transform: scale(0.9);
}

.event-detail-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.event-detail-body-img {
  width: 60%;
  height: fit-content;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  width: 100%;
}

.modal-form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-form-item-label {
  width: 15rem;
}

.modal-form-item-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-item-input-error {
  color: #ff453a;
  font-size: 0.9rem;
}

@media (min-width: 64rem) {
  .event-detail-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .event-detail-body {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }

  .event-detail-body-img {
    width: 30%;
  }

  .modal-form-item {
    flex-direction: row;
  }
}

@media (prefers-color-scheme: dark) {
  .event-detail-container,
  .event-detail-info {
    background-color: #232324;
  }
}